body, html {
    height: 100%;
}

body {
    margin: 0 auto;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.parallax-home {
    background-image: url("../img/spikeball-net-grass.jpg");
    height: 50%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.65;
}

.title span.border {
    background-color: #FFF;
    color: rgb(13, 13, 13);
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.title {
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    text-align: center;
    color: #000;
}

/*header*/

.nav-bar {
    background-color: #FFF;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid rgb(77, 77, 77);
    z-index: 1;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-left: 5%;
}

.list-item {
    flex-basis: 20%;
}

.list-item a:link {
    text-decoration: none;
    color: rgb(77, 77, 77);
}

.list-item a:visited {
    text-decoration: none;
    color: rgb(77, 77, 77);
}

.list-item a:hover {
    /*border-bottom: 1px solid rgb(77, 77, 77);*/
    text-decoration: underline;
}

.page-on {
    /*border-bottom: 1px solid rgb(77, 77, 77);*/
    text-decoration: underline;
}

/*content*/

.first-home-content-container {
    height: 300px;
    display: flex;
    justify-content: center;
}

.first-content {
    height: 100%;
    flex-basis: 45%;
    margin: 10px 10px;
    color: rgb(77, 77, 77);
    text-align: center;
}

.first-home-content-img {
    height: 90%;
}

.txt-div-row1 {
    padding-left: 15px;
    border-left: 1px solid rgb(77, 77, 77);
}

.second-home-content-container {
    margin-top: 20px;
    height: 300px;
    display: flex;
    justify-content: center;
}

.second-content {
    height: 100%;
    flex-basis: 45%;
    margin: 10px 10px;
    color: rgb(77, 77, 77);
    text-align: center;
}

.img-div-row2 {
    padding-left: 15px;
    border-left: 1px solid rgb(77, 77, 77);
}

.second-home-content-img {
    height: 100%;
}

/*footer*/

.footer {
    margin-top: 50px;
    clear: both;
    background-color: rgb(77, 77, 77);
    height: 90px;
    width: 100%;
}

.footer-col {
    height: 50px;
    width: 32%;
    display: inline-block;
    overflow: hidden;
    margin-top: 30px;
    text-align: center;
}

.social-icon {
    color: #FFF;
    height: 30px;
}

.copyright {
    color: #FFF;
}

/*====== about ======*/

.parallax {
    background-image: url("../img/spikeball-net-grass.jpg");
    height: 30%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.65;
}

.about-video {
    height: 350px;
}

/*====== contact ======*/

.contact-container {
    width: 100%;
    height: 600px;
    display: flex;
    margin-top: 15px;
    justify-content: center;
}

.contact-map {
    padding-left: 15px;
    border-left: 1px solid rgb(77, 77, 77);
}

/*====== extras ======*/

.extras-row1 {
    margin-top: 50px;
}

.google-app {
    height: 100px;
}

.apple-app {
    height: 75px;
}

.parallax-extras {
    background-image: url("../img/spikeball-net-grass.jpg");
    height: 15%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.65;
}

.shopping-div {
    width: 100%;
}

.shopping-child {
    text-align: center;
}

.shopping-link a {
    text-decoration: none;
}